.navbarParent{
    display: flex !important;
    justify-content: space-around;
    border: 1px solid #ff0000;
    background-color: #faf3eb;
    padding: 0.3rem;
}
a.navbarLink{
    background-color: #ffe4c4;
    text-decoration: none;
    background-color: #000;
    color: #fff;
    padding: 0.5rem;
    border-radius: 0.3rem;
    transition: background-color 0.5s ease;
}
a.navbarLink:hover{
background-color: #270380;
color:#fff;
padding: 0.5rem;
} 